* {
    -fx-background: #FBF3D5;
    -fx-button: #FFB38E;
    -fx-button-hover: #FF8E8F;
    -fx-text: #FBF3D5;
    -fx-text-contrast: #D9EDBF;
    -fx-text-field: #D9EDBF;
    -fx-separator: #FFCF81;
}

.root {
    -fx-background-color: -fx-background;
}

.button, .toggle-button, .menu-button {
    -fx-background-color: -fx-button;
    -fx-text-fill: -fx-text;
    -fx-border-color: -fx-button;
}

.button:hover, .toggle-button:hover, .toggle-button:selected, .menu-button:hover, .menu-button:focused {
    -fx-background-color: -fx-button-hover;
    -fx-text-fill: -fx-text;
    -fx-border-color: -fx-button-hover;
}

.menu-button .label {
    -fx-text-fill: -fx-text;
}

.context-menu {
    -fx-background-color: -fx-text-field;
}

.menu-button > .arrow-button > .arrow {
    -fx-background-color: -fx-text;
}

.radio-menu-item:checked > .left-container > .radio {
    -fx-background-color: -fx-separator;
}

.menu-item:focused .label {
    -fx-text-fill: -fx-text-contrast;
}

.text-field {
    -fx-background-color: -fx-text-field;
    -fx-prompt-text-fill: -fx-text;
    -fx-text-fill: -fx-text;
}

.check-box {
    -fx-text-fill: -fx-text-contrast;
}

.check-box .box{
    -fx-background-color: -fx-text-field;
}

.check-box:selected .mark {
    -fx-background-color: -fx-text;
}

.separator .line {
    -fx-border-color: -fx-separator;
}

.tooltip {
    -fx-text-fill: -fx-text;
    -fx-background-color: -fx-separator;
    -fx-background-radius: 0;
    -fx-font-size: 0.85em;
}